name: Deploy to Vercel
on:
  push:
    branches:
      - main

jobs:
  vercel-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm i -g vercel
      - run: vercel deploy --yes --prod --token=${{ secrets.VERCEL_TOKEN }}
